python-binance
pandas
openpyxl
websocket
plotly
tqdm
scikit-learn
tensorflow==2.12.0
keras==2.12.0
pymongo
psycopg2; platform_system == "Windows"
psycopg2-binary; platform_system == "Linux"
matplotlib
transformers
mwclient
numpy
beautifulsoup4
lxml
statsmodels
dash
joblib
fastapi
pydantic
pytest
requests
uvicorn
sphinx
sphinx-rtd-theme
dash-bootstrap-components